a:hover { color: inherit;}

a { text-decoration: underline !important;}
.cwhite {
    color: #fff;
}

.cvlgray {
    color: #e2e2e2;
}

.cgray {
    color: #4d4d4d;
}

.crazr {
    color: #5681af;
}

.clgray {
    color: #979797;
}

.cblack {
    color: #202020;
}

.lightyellow {
    color: #fce8b3;
}

.dirtyellow {
    color: #d7c38f;
}

.bblack {
    background: #111111;
}

.bbrown {
    background: #444;
}

.bdark {
    background: #333333;
}

.bwhite {
    background: #fff;
}

.blgray {
    background: #ebebeb;
}

.bvlgray {
    background: #fafafa;
}

.bgray {
    background: #505050;
}

.bgdwhite {
    background: #f2f2f2;
}

.fs08 {
    font-size: 0.8em;
}

.fs09 {
    font-size: 0.9em;
}

.fs1 {
    font-size: 1em;
}

.fs12 {
    font-size: 1.2em;
}

.fs14 {
    font-size: 1.4em;
}

.fs16 {
    font-size: 1.6em;
}

.fs18 {
    font-size: 1.8em;
}

.fs22 {
    font-size: 2.2em;
}

.fs27 {
    font-size: 2.7em;
}

.fs55 {
    font-size: 5.5em;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.calculator {
	max-width: 1400px;
}

.calculator .button-n{
	padding: 0.5em 0 !important;
	margin: .5em 0;
}

.calculator .blue-button {
	background: #43484e;
}

.calculator .blue-button:hover{
	background: #6c7a8c;
}

/* РАЗДЕЛЕНИЕ */
input.num::-webkit-outer-spin-button,
input.num::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	text-align: center;
}

.button-n {
	padding: 1em 0 !important;
	cursor: pointer;
    display: inline-block;
	outline: none;
	border-radius: 6px;
	border: 1px solid #d2d2d2;
	text-transform: uppercase;
	width: 100%;
	margin: 0.5em;
	text-indent: 0.6em;
}

.bg-g {
	background: #e5e5e5;
}
.bg-main-g{
	background: #455565;
}
.bg-dg {
	background: #292929;
}
.bg-mg {
	background: #29333c;
}

.blue-button {
	background: #0000ff;
	border: #b5b5b5;
	color: #ffffff;
	letter-spacing: 0.1em;
	border-radius: 30px;
	box-shadow:	0 0 0 0 #b5b5b5, 
	4px 7px 13px -3px #b5b5b5,
	-4px 7px 13px -3px #b5b5b5,
	0 0 0 0 #b5b5b5;
	padding: 0.5em 0 !important;
	transition: .4s;
	text-indent: 0;
	text-align: center;
}

.blue-button:hover{
	background: #1c2665;
	-webkit-transform: scaleY(1.04);
    -ms-ransform: scaleY(1.04);
    transform: scaleY(1.04);
}

select {text-overflow:ellipsis;
	text-align-last:center;
font-family: inherit;}
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}

.calc-btn {
	width: 46px;
}