<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
versionCode = "10"
version     = "1.0.0" >
	
	<!-- versionCode is optional and Android only -->
	
	<name>Calculator</name>
	
	<description>
		Металлкокалькулятор, быстроый и удобный расчет веса металоопроката.
	</description>
	
	<author href="https://сзцм.com" email="szcmSEO@yandex.ru">
		Andrey Duhanin
	</author>
	<icon src="icon.png" />	
</widget>